extends layout

block content
  include ./includes/common.pug
  .col-xs-12.col-md-12
    if settings.anyHeader(user_page, net)
      #page-header-container(style='align-items:' + (settings.allHeaders(user_page, net) ? 'flex-start' : 'center'))
        if user_page.page_header.show_img == true
          #header-img-container
            img#header-img(src=page_title_logo)
        #page-title-container
          if user_page.page_header.show_title == true
            h3#page-title #{settings.locale.user_title.replace('{1}', address)}
      .cardSpacer.clearfix
    .card.card-default.border-0.cardSpacer
      .card-header
        strong API key 
      .card-body 
        p Your API key is: #{apiKey}