/* Add custom css rules here */
:root {
    --bs-body-bg: radial-gradient(ellipse at bottom, #0c1d49 0%, #0c0d13 100%);
    --navbar-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28173, 255, 47, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --but: #00ee43;
    --but2: #adff2f;                            /* green yellow */
    --bg0: #000;                                /* header, footer, borders */
    --bg1: #08022a;                             /* Unused */
    --bg2: #040116;                             /* Unused */
    --fg: #0f0;
    --fgt: #bcb;                                /* Unused */
    --fgt2: #889988;                            /* h?, elements, form border, chart border */
    --alert-color: #ecc502;
    --pos: #0b0;
    --neg: #f32;
    --title-shadow: 0.2rem 0.2rem 0.1rem #000;
    --panel-border: none;
    --width-col-entity: 20px;
    --xs-width-col-country: 30px;
    --xs-2-col-label-width: 45%;
    --xs-2-col-label-width-min: 250px;
}

@keyframes blink-animation { to { visibility: hidden; } }
@-webkit-keyframes blink-animation { to { visibility: hidden; } }

/* Responsivnes */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 575px) {
}
@media only screen and (min-width: 605px) {
}
@media only screen and (min-width: 695px) {
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}
/* Large devices (desktop, 992px and up) */
@media only screen and (min-width: 992px) {
}
